.header-bar{
    width: 100%;
    height: 41px;
    background-color: rgba(233, 233, 233, 1);
    display: flex;
    flex-direction: row;
    gap: 2px;
}

.header-logo{
    width: 142px;
    height: 35px;
    border-color: rgba(0, 0, 0, 1);
}

.header-button{
    width: 71px;
    height: 41px;
    border-top: 1px solid rgba(123, 123, 123, 1);
    border-bottom: 1px solid rgba(123, 123, 123, 1);
    background: rgba(212, 212, 212, 1);

    transition: background-color 0.3s ease
}

.header-button:hover {
  background-color: #ffffff;
}

.loadspace{
    display: flex;
    justify-content: center; 
    align-items: center;
    height: 100vh;
}

.loadspace-container{
    display: flex;
    justify-content: center; 
    align-items: center;

    width: 920px;
    height: 496px;
    box-sizing: border-box;
    border: 1px dashed rgba(0, 0, 0, 1);
    border-radius: 41px;
    background: rgba(196, 196, 196, 0.61);
}

.loadspace-button{
    color: rgba(255, 255, 255, 1);
    text-align: center;

    width: auto;
    height: 41px;
    box-sizing: border-box;
    border: 1px solid rgba(0, 0, 0, 1);
    border-radius: 13px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    background: rgba(39, 120, 250, 1);
    transition: background-color 0.3s ease
}

.loadspace-button:hover{
    color: rgba(39, 120, 250, 1);
    background-color: rgba(255, 255, 255, 1);
}

.loadspace-header{
    display: flex;
    flex-direction: row;
    gap: 10px;

    margin-top: 12px;
    margin-left: 96px;
}

.model-card-list{
    margin-top: 12px;
    margin-left: 96px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.model-card{
    width: 1054px;
    height: 159px;

    box-sizing: border-box;
    border: 1px solid rgba(0, 0, 0, 1);
    border-radius: 25px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    background: rgba(255, 255, 255, 1);
}

.title-text-box{
    margin-top: 21px;
    margin-left: 27px;

    width: 80px;
    height: 17px;
    color: rgba(0, 0, 0, 1);

    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    letter-spacing: 0px;
    text-align: left;
}

.info-text-box{
    margin-top: 50px;
    margin-left: 27px;

    width: 80px;
    height: 17px;
    color: rgba(0, 0, 0, 1);

    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    letter-spacing: 0px;
    text-align: left;
}

.loadspace-search-bar{
    font-size: 14px;
}

.tasks-card-list{
    margin-top: 12px;
    margin-left: 96px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    columns: 2;
}

.task-card{
    width: 409px;
    height: 159px;
    display: flex;
    gap: 20px;
    flex-direction: row;
    box-sizing: border-box;
    border: 1px solid rgba(0, 0, 0, 1);
    border-radius: 25px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    background: rgba(255, 255, 255, 1);
    transition: background-color 0.3s ease
}

.task-card:hover{
    background-color: rgba(196, 196, 196, 1);
}

.task-text-box{
    width: 191px;
    height: 83px;

    margin-top: 45px;
}

.task-pre-image{
    margin-top: 21px;
    margin-left: 29px;

    width: 154px;
    height: 115px;
    background-color: rgba(196, 196, 196, 1);
}

.footer {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%
}
.navi-footer-bar{
    width: 100%;
    height: 78px;
    background-color: rgba(196, 196, 196, 1);
    display: flex;
    justify-content: center;
    align-items: center;
}

.navi-section{
    width: 222px;
    height: 51px;
    
    box-sizing: border-box;
    border-radius: 23px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    background: rgba(247, 247, 247, 1);

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 19px;
}

.footer-navi-button{
    width: 33px;
    height: 30px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 1);
    background: rgba(224, 224, 224, 1);
    border-radius: 40%;
    transition: background-color 0.3s ease
}

.footer-navi-button:hover{
    background-color: #ffffff;
}

.navi-icon {
    width: 16px;
    height: 16px;
    vertical-align: middle;
}

.workspace-container{
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.workspace-tool-container{
    width: 72px;
    height: 724px;
    background: rgba(239, 239, 239, 1);
    margin-top: 28px;
    margin-left: 21px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}

.workspace-tool-button{
    width: 62px;
    height: 36px;
    box-sizing: border-box;
    border: 1px solid rgba(99, 114, 113, 1);
    border-radius: 11px;
    background: rgba(228, 240, 240, 1);
    transition: background-color 0.3s ease
}

.workspace-tool-button:hover{
    background-color: #ffffff;
}

.workspace-annotation-container{
    width: 1238px;
    height: 724px;
    margin-top: 28px;
    background: rgba(239, 239, 239, 1);
}

.workspace-result-container{
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 28px;
}

.workspace-labels-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px; /* Добавляем отступы внутри контейнера */
    width: 396px;
    height: 247px;
    border-radius: 14px;
    overflow-y: scroll;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    background: linear-gradient(180.00deg, rgba(231, 231, 231, 1), rgba(231, 231, 231, 0) 100%);
    box-sizing: border-box; /* Важно: учитываем padding в общей ширине */
}

.workspace-files-container{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px; /* Добавляем отступы внутри контейнера */
    width: 396px;
    height: 457px;
    border-radius: 14px;
    overflow-y: auto;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    background: linear-gradient(180.00deg, rgba(231, 231, 231, 1),rgba(231, 231, 231, 0) 100%);
    box-sizing: border-box;
}

.workspace-label {
    width: 100%; /* Занимаем всю доступную ширину контейнера */
    height: 83px;
    border-radius: 8px; /* Добавляем скругление для элементов */
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    background: rgba(237, 250, 255, 1);
    flex-shrink: 0; /* Запрещаем сжатие элементов */
    transition: background-color 0.3s ease
}

.workspace-label:hover{
    background-color: #ffffff;
}

.label-text-box{
    margin-top: 7px;
    margin-left: 9px;
}

.workspace-file{
    height: 34px;
    width: 100%;
    border-radius: 8px;
    background: rgba(204, 204, 204, 1);
    margin-top: 13px;
    margin-left: 11px;
    flex-shrink: 0;
    transition: background-color 0.3s ease
}

.workspace-file:hover{
    background-color: #ffffff;
}