<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <div id="header"></div>
    <script>
        fetch('/static/components/header.html')
            .then(response => response.text())
            .then(data => {
                document.getElementById('header').innerHTML = data;
            });
    </script>
    </div>
    <div class="loadmodels">
        <div class="loadspace-header">
            <button class="loadspace-button" onclick="">Загрузить модель</button>
            <button class="loadspace-button" onclick="">Скачать все модели</button>
        </div>
        <div class="model-card-list">
            <div class="model-card">
                <div class="title-text-box">YOLOv6</div>
                <div class="info-text-box">Metadata</div>
            </div>
            <div class="model-card">
                <div class="title-text-box">YOLOv5</div>
                <div class="info-text-box">Metadata</div>
            </div>
            <div class="model-card">
                <div class="title-text-box">YOLOv8</div>
                <div class="info-text-box">Metadata</div>
            </div>
            <div class="model-card">
                <div class="title-text-box">YOLOv11</div>
                <div class="info-text-box">Metadata</div>
            </div>
        </div>
    </div>
</body>
</html>