<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <div id="header"></div>
    <script>
        fetch('header.html').then(response => response.text()).then(data => {
            document.getElementById('header').innerHTML = data;
        });
    </script>
    <div class="workspace-container">
        <div class="workspace-tool-container">
            <button class="workspace-tool-button">Tool1</button>
            <button class="workspace-tool-button">Tool2</button>
            <button class="workspace-tool-button">Tool3</button>
            <button class="workspace-tool-button">Tool4</button>
            <button class="workspace-tool-button">Tool5</button>
            <button class="workspace-tool-button">Tool6</button>
            <button class="workspace-tool-button">Tool7</button>
            <button class="workspace-tool-button">Tool8</button>
            <button class="workspace-tool-button">Tool9</button>
            <button class="workspace-tool-button">Tool10</button>

        </div>
        <div class="workspace-annotation-container">

        </div>
        <div class="workspace-result-container">
            <div class="workspace-labels-container">
                <div class="workspace-label">
                    <div class="label-text-box">Id Classname<br>coords or confidence</div>
                </div>
                <div class="workspace-label">
                    <div class="label-text-box">Id Classname<br>coords or confidence</div>
                </div>
                <div class="workspace-label">
                    <div class="label-text-box">Id Classname<br>coords or confidence</div>
                </div>
                <div class="workspace-label">
                    <div class="label-text-box">Id Classname<br>coords or confidence</div>
                </div>
            </div>
            <div class="workspace-files-container">
                <div class="workspace-file">Filename</div>
                <div class="workspace-file">Filename</div>
                <div class="workspace-file">Filename</div>
                <div class="workspace-file">Filename</div>
                <div class="workspace-file">Filename</div>
                <div class="workspace-file">Filename</div>
                <div class="workspace-file">Filename</div>
                <div class="workspace-file">Filename</div>
                <div class="workspace-file">Filename</div>
                <div class="workspace-file">Filename</div>
                <div class="workspace-file">Filename</div>
            </div>
        </div>
    </div>
    <div class="footer">
        <div class="navi-footer-bar">
            <div class="navi-section">
                <button class="footer-navi-button">
                    <img src="../assets/rewind-button.png" alt="icon" style="width:16px; height:16px; vertical-align: middle;">
                </button>
                <button class="footer-navi-button">
                    <img src="../assets/previous.png" alt="icon" style="width:16px; height:16px; vertical-align: middle;">
                </button>
                <button class="footer-navi-button">
                    <img src="../assets/next-button.png" alt="icon" style="width:16px; height:16px; vertical-align: middle;">
                </button>
                <button class="footer-navi-button">
                    <img src="../assets/forward-button.png" alt="icon" style="width:16px; height:16px; vertical-align: middle;">
                </button>
            </div>
        </div>
    </div>
</body>
</html>